body{
    background-size: cover;
    background-color: antiquewhite;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.allcontent{
    margin-bottom: 14rem;
    backdrop-filter: blur(8px);
    padding: 8px 8px 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.buttonclick{
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
    background-color: blanchedalmond;
}
.allcontent p{
    font-size: large;
    font-weight: bold;
}
